<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- ConsumerServlet Configuration -->
    <servlet>
        <servlet-name>ConsumerServlet</servlet-name>
        <servlet-class>controller.ConsumerServlet</servlet-class>
    </servlet>
      <servlet-mapping>
        <servlet-name>ConsumerServlet</servlet-name>
        <url-pattern>/Consumer</url-pattern>
    </servlet-mapping>


    <!-- orderServlet Configuration -->
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>controller.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>

    <!-- RetailerServlet Configuration -->
    <servlet>
        <servlet-name>RetailerServlet</servlet-name>
        <servlet-class>controller.RetailerServlet</servlet-class>
    </servlet>
    
    <!-- CharityServlet Configuration -->
    <servlet>
        <servlet-name>CharityServlet</servlet-name>
        <servlet-class>controller.CharityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CharityServlet</servlet-name>
        <url-pattern>/charityView</url-pattern>
    </servlet-mapping>
</web-app>
